//
// UCI Variables
// --------------------------------------------------

$uci-primary-blue : #0064a4;
$uci-primary-yellow : #ffd200;
$uci-primary-black : #000;
$uci-primary-white : #fff;

$uci-secondary-lt-blue : #6aa2bb;
$uci-secondary-lt-gray : #c6beb5;
$uci-secondary-dk-blue : #1b3d6d;
$uci-secondary-orange : #f78d2d;
$uci-secondary-dk-gray : #555759;
$uci-secondary-yellow : #f7eb5f;

$uci-font-base: Helvetica, Arial, Verdana, sans-serif;

// --------------------------------------------------
// End UCI Variables
// --------------------------------------------------


// --------------------------------------------------
// Bootstrap Variables
// --------------------------------------------------

$blue: $uci-primary-blue !default;
//$white: $uci-primary-white !default;
//$yellow: $uci-primary-yellow !default;
//$orage: $uci-secondary-orange !default;
//$black: $uci-primary-black !default;

// --------------------------------------------------
// End Bootstrap Variables
// --------------------------------------------------

