@import "../styles/includes";

.Layout.container {
  //width: 100%;
  //max-width: 100%;
  //font-size: $font-size-base * 1.5;
  //background-color: rgba($uci-primary-blue, 0.65);

  position: relative;
  margin: 0;
  height: $screen-height;
  width: $screen-width;

}
