@import "../styles/includes";

.Layout.container {
  //width: 100%;
  //max-width: 100%;
  //font-size: $font-size-base * 1.5;
  //background-color: rgba($uci-primary-blue, 0.65);

  position: relative;
  margin: 0;
  height: $screen-height;
  width: $screen-width;
  max-width: unset;
  padding: 7em;
  opacity: 0.9;

  .pillbox {
    background-color: rgba($uci-primary-blue, 0.45);
    padding: 4em;
    margin-right: 4em;
    margin-bottom: 5em;
    border-radius: 30px;

    &.calendar-height {
      max-height: 1200px;
      overflow: hidden;
    }

    &.freshdesk-height {
      max-height: 1800px;
      overflow: hidden;
    }

    .title {
      color: $uci-primary-yellow;
      font-size: 4em;
      font-weight: bold;
      letter-spacing: 2px;
      padding-bottom: 30px;
    }

  }

}
