@import "../styles/includes";

.Layout.container {
  //width: 100%;
  //max-width: 100%;
  //font-size: $font-size-base * 1.5;
  //background-color: rgba($uci-primary-blue, 0.65);

  position: relative;
  margin: 0;
  height: $screen-height;
  width: $screen-width;
  max-width: unset;
  padding: 3rem 32rem 3rem 3rem;
  opacity: 0.9;

  .pillbox {
    background-color: rgba($uci-primary-blue, 0.45);
    padding: 1.2rem 1em;
    //margin-right: 1.5rem; // this is why gutters exist
    margin-bottom: 2.0rem;
    border-radius: 20px;

    //&.calendar-height {
    //  max-height: 630px;
    //  overflow: hidden;
    //  overflow-y: scroll;
    //}

    &.freshdesk-height {
      max-height: 920px;
      overflow: hidden;
    }

    .title {
      color: $uci-primary-yellow;
      font-size: 2.4rem;
      font-weight: bold;
      letter-spacing: 1px;
      //padding-bottom: 20px; // don't use padding bottom + inherent margin bottom, unless you are also adding an underline
      margin-bottom: .5em;
    }

    .tickets {
      max-height: 817px;
      overflow: hidden;
      overflow-y: scroll;

      .freshdesk-list {
        margin: 0 0 1em 0;
        padding: 1.5em !important;

        .fr-tag {
          color: $uci-primary-blue;
          padding: 0.5em 0.75em;
        }

        .fr-title {
          margin-top: 0;
        }

        .fr-description {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

  }

  .calendar-events {
    $border-radius: 10px;

    overflow-y: scroll;
    max-height: 534.10px;

    .event {
      background-color: $uci-primary-blue;
      padding: 1.5em;
      padding-left: 1.75em;
      border-radius: $border-radius;
      border-left: inherit;

      position: relative;

      &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 0.75em;
        background-color: $uci-primary-yellow;
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .summary, .time { // reset
        padding-bottom: 0;
      }

      .summary {
        //margin-bottom: 0.4em;
      }

    }

    .student-event {
      background-color: $uci-primary-blue;
      padding: 1.5em;
      border-radius: 10px;
    }
  }

}
